
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=cyrillic');
/* font-family: 'Roboto', sans-serif; */

// Variables
@import 'variables';

// spacing
$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3),
    6: ($spacer * 3.125)
  ),
  $spacers
);

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// theme customization
@import 'custom';